* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

HTML {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    background-color: #3f3f41;
    font-family: "Arial Black", sans-serif;

}

h1, h2 {
    color: #f0f0f0;
}

h1, h2, nav div, #loginCreateDiv h3, #loginCreateDiv label, #loginCreateDiv input, #loginCreateDiv p, #welcomeUser, .buttonSubmit, a.buttonSubmit {
    text-align: center !important;
}

nav {
    display: flex;
    width: 80%;
    height: 60px;
    margin: 0 auto;
    z-index: 5;
    position: relative;
}

nav div:first-child {
    border-bottom-left-radius: 10px;
}

nav div:last-child {
    border-bottom-right-radius: 10px;
}

nav div {
    width: 20%;
    border: 2px solid #3f3f41;
    border-top: none;
    background-color: #121212;
    font-weight: bold;
    height: 100%;
}

nav a {
    width: 100%;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
}

nav #categoryList {
    padding-top: 18px;
}

nav #categoryList, nav a {
    cursor: pointer;
    color: rgb(240, 240, 240);
}

a {
    text-decoration-line: none;
}

nav a:hover {
    color: lightblue;
}

h1, h2 {
    font-size: 10rem;
    margin-top: 5rem;
    text-shadow: 5px 5px 5px darkgray;
    font-style: italic;
}

h2 {
    font-size: 5rem;
}

#loginCreateDiv {
    width: 40%;
    background-color: #f0f0f0;
    margin: 30px auto;
    border-radius: 10px;
}

#loginCreateDiv div div {
    display: flex;
    flex-direction: column;
}

#loginCreateDiv h3 {
    padding: 20px 0 10px 0;
    text-decoration-line: underline;
}

#loginCreateDiv label {
    width: 50%;
    margin: 0 auto;
}

#loginCreateDiv input {
    width: 50%;
    margin: 10px auto;
    height: 35px;
    font-size: 1.7rem;
}

.buttonSubmit {
    margin-bottom: 20px !important;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 0;
    cursor: pointer;
}

.buttonSubmit:hover {
    opacity: 0.7;
}

#loginCreateDiv p {
    padding-bottom: 15px;
    cursor: pointer;
}

#loginDiv, #createDiv {
    overflow: hidden;
}

#createDiv {
    display: none;
}

#welcomeUser {
    color: lightblue;
    font-size: 4rem;
    margin-top: 3.5%;
    position: relative;
    font-style: oblique;
}

#profileDiv {
    background: #f0f0f0;
    width: 60%;
    margin: 3% auto;
    border-radius: 10px;
    box-shadow: inset 0 0 5px 11px dimgray;
    padding-bottom: 10px;
}

#profileDiv p {
    padding-left: 30%;
    padding-top: 20px;
}

#profileDiv span {
    font-style: italic;
    color: dodgerblue;
}

#profileDiv div {
    width: 225px;
    font-weight: bold;
    margin: 20px auto;
    font-size: 1.5rem;
    background-color: #f0f0f0;
    border-radius: 10px;
}

#profileDiv div:hover, #createTopicButton:hover {
    background-color: #e0dcdc;
}

#profileDiv a:hover, #createTopicButton a:hover, #newTopic form div:last-child input:hover, #newTopic div:last-child input:hover {
    color: #1e90ff;
}

#profileDiv a, #createTopicButton a {
    padding: 5px 0;
    width: 100%;
    display: block;
    color: #121212;
    text-align: center;
    border: 1px solid darkgray;
    border-radius: 10px;
}

#divWelcomeUser {
    overflow: hidden;
    width: 100%;
}

#categoryDiv {
    width: 80%;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#createTopicButton {
    width: 20%;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 7px 7px 5px darkgray;
}

#nothingDiv {
    width: 100%;
    text-align: center;
    color: #f0f0f0;
    margin-top: 5%;
}

#newTopic {
    width: 80%;
    margin: 3% auto;
    background-color: #f0f0f0;
    box-shadow: 7px 7px 5px darkgray;
    padding: 10px 0;
    border: 1px solid darkgray;
}

#newTopic label {
    display: block;
    width: 100%;
    text-align: center;
    color: #121212;
    font-size: 3.5rem;
    text-decoration-line: underline;
    text-decoration-color: #121212;
}

#newTopic form div:first-child input, #newTopic textarea{
    width: 50%;
    display: block;
    height: 50px;
    margin: 2% auto 5% auto;
    text-align: left;
    padding: 2%;
    font-size: 2.5rem;
}

#newTopic textarea {
    height: 300px;
}

#newTopic form div:last-child input, #newTopic div:last-child input  {
    width: 50%;
    display: block;
    margin: 0 auto;
    font-size: 2rem;
}

.topicDivRedirects {
    width: 100%;
    background-color: #f0f0f0;
    margin: 20px 0;
    box-shadow: 7px 7px 5px darkgray;
    border: 1px solid darkgray;
    cursor: pointer;
    border-radius: 5px;
}

.titleTopicList {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    font-size: 3rem;
    color: darkcyan;
}

.footerTopicList {
    display: flex;
    justify-content: space-between;
    text-align: right;
    font-style: italic;
    color: #3f3f41;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.footerTopicList span:nth-child(2) {
    text-align: center;
}

.footerTopicList span:nth-child(1) {
    text-align: left;
}

.footerTopicList span {
    width: 30%;
    display: inline-block;
}

#topicDiv, #commentDiv {
    width: 80%;
    background-color: #f0f0f0;
    box-shadow: 7px 7px 5px darkgray;
    margin: 3% auto;
    border: 1px solid darkgray;
    border-radius: 5px;
    position: relative;
}

#titleTopicView {
    text-align: center;
    font-size: 4rem;
    color: darkcyan;
    margin-top: 30px;
    text-transform: uppercase;
    text-decoration-line: underline;
}

#contentTopicView {
    margin: 30px 10% 20px 10%;
}

#backButtonTopic {
    width: 30%;
    margin: 0 auto;
    display: block;
    font-size: 2.5rem;
}

#deleteTopic, #updateTopic, #archivedTopic {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#updateTopic {
    right: 40px;
}

#archivedTopic {
    right: 80px;
}

#aButton {
    width: 50%;
    border-radius: 3px;
    background-color: #f0f0f0;
}

#commentDiv h3 {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 3rem;
    text-decoration-line: underline;
    font-style: italic;
    color: darkcyan;
}

#commentDiv form div {
    width: 80%;
    margin: 2% auto;
}

#commentDiv textarea {
    width: 90%;
    height: 50px;
    padding: 1%;
    font-size: 2rem;
}

#commentDiv form div {
    display: flex;
    align-items: center;
}

#commentDiv form input {
    padding: 10px;
    margin-bottom: 0 !important;
    margin-left: 10px;
}

#commentDiv {
    width: 60%;
}

#regulation {
    width: 80%;
    color: #f0f0f0;
    margin: 20px auto;
}

#commentList i {
    margin-right: 10px;
    margin-top: 20px;
    cursor: pointer;
}

#paypalDiv {
    width: 50%;
    margin: 5% auto;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 7px 7px 5px darkgray;
    text-align: center;
    padding: 2%;
}